{% load static %}
<!-- Prism CSS -->
<link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    <!-- navbar -->
    <div class="navbar-fixed">
        <nav class="teal">
            <div class="nav-wrapper z-depth-2 ">
                <div class="container">
                    <a href="/" class="brand-logo"><strong> MySite</strong></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        {% if user.is_authenticated %}
                        <!--<li><a href="/analytics">Analytics</a></li>-->
                        <li><a href="/admin">Settings</a></li>
                        <li><a href="/account">{{user.username|title}}</a></li>
                        <li><a href="/chat">Chat</a></li>
                        <li><a href="/logout">Logout</a></li>
                        {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign up</a></li>
                        {% endif %}
                </div>
            </div>
        </nav>
    </div>


    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success'%}
    <script>M.toast({ html: "{{message}}", classes: 'green rounded', displayLength: 2000 });</script>
    {% elif message.tags == 'info'%}
    <script>M.toast({ html: "{{message}}", classes: 'blue rounded', displayLength: 2000 });</script>
    {% elif message.tags == 'warning'%}
    <script>M.toast({ html: "{{message}}", classes: 'orange rounded', displayLength: 10000 });</script>
    {% elif message.tags == 'error'%}
    <script>M.toast({ html: "{{message}}", classes: 'red rounded', displayLength: 10000 });</script>
    {% endif %}
    {% endfor %}
    {% endif %}

    <br><br>



    <div class="row container">
        <!-- content block -->
        {% block content %}
        {% endblock %}

    </div>



<br><br>
<br><br>

    <!-- footer -->
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">STAY CONNECTED</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Navigate</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Support</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright: IBSplc.com
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <!-- Prism JS -->
    <script src="{% static "tinymce/js/prism.js" %}"></script>
    <!-- js fr materialise -->
</body>

<script>M.AutoInit();</script>